@charset "UTF-8";
/*!
Theme Name: ThemeEffix
Theme URI: http://underscores.me/
Author: Germain Thibault, Trycia Thibodeau, Éric Bergeron, Cédric Marcoux, Louis Garneau
Author URI: http://effix.dev.loc
Description: Création et vente de publicité en ligne
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: themeeffix
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ThemeEffix is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Box sizing
--------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1; }

h2 {
  line-height: 2.5rem; }

p {
  line-height: 2rem; }

/* Elements
--------------------------------------------- */
body {
  background: #eeeeee; }

.container-flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-flex-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; }
    .container-flex-nav ul li {
      padding: 1rem; }
      .container-flex-nav ul li a {
        text-decoration: none;
        color: #5126F2; }
        .container-flex-nav ul li a:visited {
          color: #5126F2; }

.right {
  text-align: right; }

.right:nth-child(3) {
  text-align: left; }

.right:nth-child(5) {
  text-align: left; }

.margin-btm {
  margin-bottom: 5rem; }

#price_none span {
  display: none; }

.add_to_cart_inline {
  border: none !important; }

.logo {
  width: 173px; }

.burger {
  color: #5126F2;
  font-size: 2rem; }

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0px 4px 130px rgba(45, 43, 109, 0.4); }
  .card h3 {
    font-size: 126px;
    margin: 0;
    color: #E7E5F2; }
  .card p {
    color: #E7E5F2;
    font-weight: 700;
    line-height: 1rem; }
  .card--produit {
    background-color: #fff;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 3rem; }

.name {
  position: absolute; }
  .name h2 {
    font-size: 100px;
    color: #fff;
    font-weight: 700; }

.profil_card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 130px rgba(45, 43, 109, 0.4);
  margin-top: 8rem; }
  .profil_card .row .col-lg-5 img {
    width: 50px;
    height: 50px;
    border: 0.2px solid #fff;
    border-radius: 25px; }
  .profil_card h4 {
    font-size: 32px;
    margin: 0;
    color: #5126F2;
    font-weight: 700; }
  .profil_card p {
    color: #333333; }

.profil_pic {
  border-radius: 25px; }

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }
  .flex-card--abs {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem; }

.contact {
  background-color: #5126F2;
  text-align: center;
  margin: 5rem 0;
  padding: 7rem;
  border-radius: 25px; }
  .contact h3 {
    font-weight: 700;
    color: #fff;
    font-size: 24px; }
  .contact .mail-sign {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #fff;
    width: 37%;
    border-radius: 125px;
    border: 1px solid #fff; }
    .contact .mail-sign input[type="submit"] {
      border-radius: 125px;
      padding: 0.5rem 2.5rem;
      margin-left: 1px; }
    .contact .mail-sign input[type="email"] {
      border: 0;
      border-radius: 125px;
      padding-left: 1rem; }
      .contact .mail-sign input[type="email"]:focus {
        outline: none; }

.mc4wp-form-fields {
  display: flex;
  justify-content: space-between; }

.footer {
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 2rem; }
  .footer .line {
    background-color: #000;
    height: 1px;
    width: 98%;
    text-align: center;
    margin: 0 auto; }
  .footer .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .footer ul {
    list-style-type: none;
    text-align: right;
    line-height: 2rem; }
    .footer ul a {
      text-decoration: none;
      color: #5126F2; }
  .footer .info {
    color: #000;
    font-weight: 700; }
  .footer .social {
    width: 20px;
    margin: 1rem; }

.team {
  width: 98px;
  margin-bottom: 2rem; }

.img-abm {
  width: 734px; }

/* Forms
--------------------------------------------- */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #6139f2;
  border-radius: 15px;
  background: #6139f2;
  color: #eeeeee;
  line-height: 1;
  padding: 1em 2.5em;
  transition: 0.5s linear; }
  .button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #6139f2;
    background-color: transparent;
    color: #6139f2;
    transition: 0.5s linear; }

.reverse {
  border-color: #6139f2;
  background-color: transparent;
  color: #6139f2;
  transition: 0.5s linear; }
  .reverse:hover {
    background-color: #6139f2;
    background-color: #6139f2;
    color: #eeeeee;
    transition: 0.5s linear; }
  .reverse--white {
    color: #fff;
    border-color: #fff;
    background-color: #5126F2; }
    .reverse--white:hover {
      border-color: #A9CAD9;
      color: #A9CAD9; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #6139f2;
  border: 1px solid #6139f2;
  border-radius: 15px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #6139f2; }

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 576px) {
  .contact div p img {
    width: 80px;
    height: 80px; } }
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
  .screen-reader-text:focus {
    background-color: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #333333;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0; }

/*# sourceMappingURL=style.css.map */
