body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

h2{
	line-height: 2.5rem;
}

p{
	line-height: 2rem;
}

