body {
	background: $color__background-body;
}

.container-flex-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		li{
			padding: 1rem;
			a{
				text-decoration: none;
				color: $purple;
				&:visited{
					color: $purple;
				}
			}
		}
	}
}

.right{
	text-align: right;
}
 
.right:nth-child(3) {
  text-align: left;
}

.right:nth-child(5) {
  text-align: left; 
}

.margin-btm{
	margin-bottom: 5rem;
}

#price_none span{
	display: none;
}

.add_to_cart_inline {
	border: none !important;
}
