.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__background-button;
	border-radius: 15px;
	background: $color__background-button;
	color: $color__link-hover;
	line-height: 1;
	padding: 1em 2.5em;
	transition: 0.5s linear;

	&:hover {
		border-color: $color__background-button;
		background-color: transparent;
		color: $color__text-input;
		transition: 0.5s linear;
	}
}

.reverse {
	border-color: $color__background-button;
	background-color: transparent;
	color: $color__background-button;
	transition: 0.5s linear;
	&:hover {
		background-color: $color__background-button;
		background-color: $color__background-button;
		color: $color__background-body;
		transition: 0.5s linear;
	}

	&--white{
		color: $white;
		border-color: $white;
		background-color: $purple;
		&:hover{
			border-color: $blue;
			color: $blue;
		}
	}
}
