.card{
    background-color: $white;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 4px 130px rgba(45, 43, 109, 0.4);
    h3{
        font-size: 126px;
        margin: 0;
        color: $light-gray;
    }
    p{
        color: $light-gray;
        font-weight: $bold;
        line-height: 1rem;
    }

    &--produit{
        background-color: $white;
        border-radius: 25px;
        padding: 1rem;
        margin-bottom: 3rem;
    }
}



.name{
    position:absolute;
    h2{
        font-size: 100px;
        color: $white;
        font-weight: $bold;
    }
}
.profil_card{
    background-color: $white;
    border-radius: 25px;
    box-shadow: 0px 4px 130px rgba(45, 43, 109, 0.4);
    margin-top: 8rem;

    .row .col-lg-5 img{
        width: 50px;
        height: 50px;
        border: 0.2px solid #fff;
        border-radius: 25px;
    }
    h4{
        font-size: 32px;
        margin: 0;
        color: $purple;
        font-weight: $bold;
    }
    p{
        color: $color__text-main;
    }
}

.profil_pic{
    border-radius: 25px;
}

.flex-card{
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    &--abs{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
    }
}