.contact{
    background-color: $purple;
    text-align: center;
    margin: 5rem 0;
    padding: 7rem;
    border-radius: 25px;
    h3{
        font-weight: $bold;
        color: $white;
        font-size: 24px;
    }
    .mail-sign{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background-color: $white;
        width: 37%;
        border-radius: 125px;
        border: 1px solid $white;
        input[type="submit"]{
            border-radius: 125px;
            padding: 0.5rem 2.5rem;
            margin-left: 1px;
        }
        input[type="email"]{
            border: 0;
            border-radius: 125px;
            padding-left: 1rem;
            &:focus{
                outline:none;
            }
        }
        
    }
}

.mc4wp-form-fields{
    display: flex;
    justify-content: space-between;
}