.footer{
    background-color: $white;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 2rem;
    .line{
        background-color: $black;
        height: 1px;
        width: 98%;
        text-align: center;
        margin: 0 auto;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    ul{
        list-style-type: none;
        text-align: right;
        line-height: 2rem;
        a{
            text-decoration: none;
            color: $purple;
        }
    }

    .info{
        color: $black;
        font-weight: $bold;
    }

    .social{
        width: 20px;
        margin: 1rem;
    }
}