// Couleurs //
$color__nuance: linear-gradient(90deg, rgba(81, 38, 242, 1) 2%, rgba(169, 202, 217, 1) 99%);
$color__background-body: #eeeeee;
$color__background-screen: #eeeeee;
$color__background-button: #6139f2;
$purple: #5126F2;
$white: #fff;
$light-gray: #E7E5F2;
$black: #000;
$blue: #A9CAD9;

// Couleur typo //
$color__nuance-border: linear-gradient(90deg, rgba(81, 38, 242, 1) 2%, rgba(169, 202, 217, 1) 99%);
$color__text-screen: #333333;
$color__text-input: #6139f2;
$color__text-input-focus: #6139f2;
$color__link: #6139f2;
$color__link-visited: #6139f2;
$color__link-hover: #eeeeee;
$color__text-main: #333333;
